
body {
	font-size: large;
    background-color: aliceblue;
}

a {
    text-decoration: none;
    margin: 4px;
}

a.hidden {
    visibility: hidden;
}

canvas#playArea {
    margin: 16px;
}

canvas#previewPic {
    vertical-align: bottom;
}

span#speeds, span#sizes, span#drawing, span#shapes, span#modes, span#fps {
    margin-left: 30px;
}

span#shapeName {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}

span#fps {
    font-size: small;
}


