
body {
	font-size: large;
    background-color: aliceblue;
}

a {
    text-decoration: none;
    margin: 8px;
}

canvas {
    margin: 16px;
}

span#sizes, span#drawing, span#shapes {
    margin-left: 40px;
}

span#shapeName {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}


